<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html" lang="cs" xml:lang="cs"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Výchozí webová stránka | Java 2</title>
</head>
<body>
    <div class="page">

        <h1>Košík</h1>
        <form method="post">
            <table>
                <tr>
                    <th>Nazev</th>
                    <th>Cena</th>
                    <th>Akce</th>
                    <th></th>
                </tr>
                <tr th:each="polozka : ${kosik}">
                    <td th:text="${polozka.nazev}"></td>

                    <td th:text="${polozka.cena + ',-'}"></td>

                    <td>
                        <form th:action="@{'/kosik/' + ${polozka.cislo}}" method="post">
                            <input type="hidden" name="akce" value="DELETE"/>
                            <input type="submit" value="Odebrat z košíku" class="button"/>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td> Celková cena:</td>
                    <td th:text="${soucet + ',-'}">5.5</td>
                </tr>

                <tr>
                    <td colspan="3">
                        <a href="eshop.html" th:href="@{/eshop}">Přejít zpět na e-shop</a>
                    </td>
                </tr>

            </table>
        </form>
    </div>
</body>
</html>

